@{
    ViewData["Login"] = "Privacy Policy";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register - MagtimusPro</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/css/estilos.css">
</head>
<body>

        <main>

                <div class="contenedor__login-register">
                   
                    <form action="" class="formulario__login">
                        <h2>Iniciar Sesión<h5>Sin digito verificador</h5></h2>
                        <input type="text" placeholder="Rut">
                        <input type="password" placeholder="Contraseña">
                        <button>Entrar</button>
                        
                    </form>

                </div>
           //hola benjamin
           //hola Sandro 



           //hola2
           // hola3

        </main>



        <script src="assets/js/script.js"></script>
</body>
